<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pray4Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="" (click)="displayPrayerList()">Pray</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Request Prayer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
             aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">My Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Sign Out</a>
          </div>
        </li>
      </ul>
      <form class="d-flex" data-dashlane-rid="893b2dc0bd5f4320" data-form-type="">
        <input class="form-control me-sm-2" type="search" placeholder="Search" data-dashlane-rid="f1e1ce328989e00c"
               data-form-type="">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" data-dashlane-rid="7c7102d3318a3ef0"
                data-form-type="" data-dashlane-label="true">Search
        </button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
