.page-container {
  display: flex;
}

.prayers-container {
  margin: 10px 30px;
  flex: 1;
}


.prayers-shrink {
  animation-name: shrink-prayers;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes shrink-prayers {
  0% {
    margin: 10px 30px;
    flex: 100%;
  }
  100% {
    margin: 10px 30px;
    flex: 0.65;
    animation: appear 1s forwards;
  }
}

.details-container {
  display: flex !important;
  flex: 0;
  visibility: hidden;
  overflow: hidden;

}

.details-shrink {
  animation-name: shrink-details;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes shrink-details {
  0% {
    margin: 0;
    padding: 0;
    animation: vanish 1s forwards;
    opacity: 0;
    flex: 0;
  }
  100% {
    margin: 10px 30px 30px 0;
    padding: 15px;
    flex: 0.35;
    opacity: 1;

  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes appear {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;

    visibility: visible;

  }
}

.prayer-details-action-buttons {
  display: flex;
  flex-direction: column;
  align-self: end;

}

.button-option {
  margin: 5px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.button-image {
  height: 2rem;
  width: 2rem;

}

/*make the .button-option shake when hover */
.button-option:hover {
  animation: shake 0.3s ease-in-out;
}

/* @keyframe for the shake animation*/
@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-1px, 1px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0px, 0px);
  }


}

.selected-prayer-details {
  display: flex;
  justify-content: space-between;
}

.prayer-details-content-container {

}

.user-comment-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  margin-block: 10px;

}

.paragraph-text {
  white-space: pre-wrap;
}

.textfield-hide {
  visibility: hidden;
  overflow: hidden;
  margin-top: -130px;
}

.textfield-show {
  visibility: hidden;
  overflow: hidden;
  animation-name: reveal-user-comment-input;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes reveal-user-comment-input {
  0% {

    margin-top: -130px;
  }
  100% {

    margin-top: 5px;
    animation: show-comment-input 0.5s forwards;
  }
}


@keyframes reveal-user-comment-input {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
}

